<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Books</title>
</head>
<body>
    <h1>List of Books</h1>
    <ul>
        <% booksData.forEach(function(book) { %>
            <li>
                <strong>Title:</strong> <%= book.title %><br>
                <strong>Author:</strong> <%= book.author %><br>
                <strong>Genre:</strong> <%= book.genre %><br>
                <strong>Published:</strong> <%= book.published %><br>
                <strong>Synopsis:</strong> <%= book.synopsis %><br>
            </li>
        <% }); %>
    </ul>
</body>
</html>
